@page
@model BuildHub_v5.Pages.CompaniesModel
@{
}

<h2>Companies</h2>
<a class='btn btn-success mb-2' href='/AddComapney'>Add New Companey</a>
<table class='table table-striped table-bordered table-hover mt-3'>
    <thead class='table-dark'>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Tier</th>
            <th>UserId</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>

    @foreach (var c in Model.CompanyList)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.Name</td>
            <td>@c.Type</td>
            <td>@c.Tier</td>
            <td>@c.UserId</td>
            <td>@c.CreatedAt</td>
            <td>
                <a class='btn btn-primary btn-sm' href='/EditCompaney?id=@c.Id'>Edit</a>
                <a class='btn btn-danger btn-sm' href='/Companies?handler=Delete&id=@c.Id'>Delete</a>
            </td>
        </tr>
    }
</table>
